.container {
  display: flex;
  height: 200px; /* Ensure there's enough space for items to move on cross axis */
}

.item {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  border: 1px solid black
}

.itemA {
  align-self: flex-start;
}

.itemB {
  align-self: center;
}

.itemC {
  align-self: flex-end;
}